= stylesheet_link_tag :cooperative
%section.container#main_content{style: "min-height: 300px; margin-top: 130px;"}
  %h2 Thank you!
  %p
    We’ve received your application.
    Community Partners will be announced on March 15, 2013
