- content_for :breadcrumbs do
  .crumb.end Cooperative Applications   

- @active_tab = 'cooperative_applications'

- content_for :content_navigation do
  %h2 Cooperative Applications
  %ul
    %li{:class => active_for('index')}= icon_link_to "Search", admin_cooperative_applications_path, 'search'
