- unless @errors.blank?
  .row
    = render partial: "shared/errors"
.row
  .span
    .title Sponsorship Level:
  .span= @sponsor.sponsorship_level.name
= f.inputs do
  .row
    .row
      .title My Logos
    .row
      .span=@sponsor.eps_logo_file_name
      .span=f.input :eps_logo, as: :file, label: "EPS logo", hint: "Please provide an EPS version of your logo in high resolution."
    .row
      .span=@sponsor.logo_file_name
      .span=f.input :logo, as: :file, label: "Jpg logo", hint: "Please provide a JPG version of your logo in 260x260."
  .row 
    .row
      .title Please upload your signed Sponsorship Agreement here
    .row  
      .span=f.object.sponsor_agreement_file_name
      .span=f.input :sponsor_agreement, as: :file
