- unless @errors.blank?
  .row
    = render partial: "shared/errors"
%h1.head-page-tab
  %small REVIEW YOUR SPONSORSHIP
  = @sponsor.sponsorship_level.name
.desc-page
  Your commitment to Chicago Ideas Week is a vital part of our ability to operate this program. As a Silver Partner, you have committed substantially to our cause, and have aligned your goals for a brighter future, with our mission to create a fostering environment.
%fieldset.inputs
  .row.box-upload-file
    .lock-title Before you can activate, WE NEED YOUR LOGO in 2 formats
    .row
      %ul.span
        %li#sponsor_eps_logo_input.file.input.optional
          %small.numb-step 1
          %label.label{for: "sponsor_eps_logo"} EPS logo*
          .span
            =f.file_field :eps_logo
            .uploaded_file=@sponsor.eps_logo_file_name
          %p.inline-hints Please provide an EPS version of your logo in high resolution.
        %li#sponsor_logo_input.file.input.optional
          %small.numb-step 2
          %label.label{for: "sponsor_logo"} JPG logo*
          .span
            =f.file_field :logo, size: 24, style: "opacity: 0;"
            .uploaded_file=@sponsor.logo_file_name
          %p.inline-hints Please provide a JPG version of your logo in 260x260.
  .row.box-upload-file
    .lock-title Before you can activate, WE NEED YOUR AGREEMENT
    .row
      %ul.span
        %li#sponsor_sponsor_agreement_input.file.input.optional
          %small.numb-step 3
          %label.label{for: "sponsor_sponsor_agreement"} Agreement
          .span
            =f.file_field :sponsor_agreement, size: 24, style: "opacity: 0;"
            .uploaded_file=@sponsor.sponsor_agreement_file_name
          %p.inline-hints Please upload your signed Sponsorship agreement. Call 312-805-3499 for help.
