$("#submit_request").html("Send Invite");
$("#loading_image").addClass("hidden");
- if @errors.blank?
  $('.message').html("Sent invite email successfully");
- else
  $('.errors').html("#{escape_javascript(render partial: "shared/errors")}");
