.membership_summary.member_type_summary.group
  = image_tag 'application/orders/member_type.png'
  .member_type_info
    %p.member_type_name
      = truncate member_type.name, :length => 27
      %span.member_type_price
        = number_to_currency member_type.price
    %p.member_type_description
      = truncate member_type.description, :length => 150
