.membership_summary.need_help
  %p.need_help_title
    Need Help?
  .need_help_content.group
    = image_tag 'application/orders/need_help.png'
    %p.need_help_info
      Call a member of the CIW staff Monday-Friday from 9AM to 5PM CST.
      %br
      Phone: 312-xxx-xxxx
