.membership_summary.share_ciw
  %p.share_title
    Let's make an impact together
  %p.share_info
    Help share your experience with CIW on social media.
    %br
    Please get involved.
  .share_links
    = link_to (image_tag 'application/orders/facebook.png'), ''
    = link_to (image_tag 'application/orders/twitter.png'), ''
    = link_to (image_tag 'application/orders/linkedin.png'), ''
    = link_to (image_tag 'application/orders/google_plus.png'), ''
