.volunteering
  %p.volunteering_title
    Interested in Volunteering?
  %p.volunteering_info
    If anyone at your organization is interested in volunteering at CIW, please contact
    = mail_to 'info@chicagoideas.com'
