%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Member Program", member_types_path
        %li
          %span Order Confirmed

%section.container#main_content
  %div#member_program_header
    %h1 Thanks for your order!

