-# 		Chicago Ideas Week
-# 		Global Header & Navigation
-# 		_header.html.haml
-# 		12/31/2011


%nav.container-fluid#global_nav
  
  %ul#global_nav.container
  
    %li#gn_logo
      %h1= link_to "Chicago Ideas Week", root_path, :rel => "bookmark", :title => "Chicago Ideas Week Homepage"
    = render partial: "layouts/application/menu_links"
  #social_media.container
    %div
      = link_to image_tag("/assets/application/btn_twitter.png"), "https://twitter.com/chicagoideas", :target => "_blank"
      = link_to image_tag("/assets/application/btn_facebook.png"), "http://www.facebook.com/ChicagoIdeasWeek", :target => "_blank"
    
