// 		Project		Chicago Ideas Week
// 		Title		Application Stylesheets
// 		File		Application.css.scss
// 		Date		12/30/11
// 		Author		John Koht

@import "bourbon";
@import "application/reset";
@import "application/variables";
@import "application/mixins";
@import "application/type";
@import "application/forms";
@import "application/scaffolding";
@import "application/patterns";

@import "application/plugins";
@import "application/talks";
@import "application/speakers";
@import "application/schedule";
@import "application/member_program";
@import "application/project_youth";

@import "application/kohtweets";
@import "plugins/flash_helpers";
@import "thank_you_modal";
@import "orders";
@import "member_types";

#devise_user_invitations_page{
  form#user_edit{
    margin: 100px 150px !important;
  }
}

.group:before, .group:after { 
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

.blue_btn {
  @include border-radius(3px);
  background-color: #EEEEEE;
  border: 1px solid #777777;
  color: #222222;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  padding: 4px 9px;
  text-align: center;
  width: 160px;
}
.blue_btn:hover {
  background-color: #FFFFFF;
  text-decoration: none;
}
