#membership_purchase {
  width: 100%;
  #membership_form_section {
    float: left;
    padding: 60px;
    width: 35%;
    .form_section {
      border-bottom: none;
      .form_section_header {
        font-size: 1.5em;
        color: rgb(87, 87, 87);
      }
      .form_section_separator {
        margin: 20px auto 30px auto;
      }
      .v_lists {
        ol li {
          overflow: auto;
          label {
            float: left;
            width: 115px;
            margin-top: 8px;
            padding-right: 20px;
            text-align: right;
          }
          input {
            float: left;
          }
          p {
            float: left;
            margin-left: 134px;
            margin-bottom: 0;
            font-size: 0.8em;
          }
        }
        .form_state_cards {
          #order_state_input {
            float: left;
            width: 60%;
            input {
              width: 53px;
            }
          }
          .form_cards {
            float: left;
            width: 40%;
            ul {
              margin-top: 6px;
              margin-left: 6px;
              li {
                display: inline;
                img {
                  width: 30px;
                }
              }
            }
          }
        }
        .form_expdate_cvc {
          #order_expiry_date_input {
            float: left;
            width: 70%;
            input {
              width: 88px;
            }
          }
          #order_cvc_input {
            float: left;
            width: 25%;
            margin-left: 16px !important;
            label {
              width: 40px;
              padding-right: 4px;
            }
            input {
              width: 25px;
            }
            p {
              margin-left: 4px;
            }
          }
        }
      }
    }
    .buttons ol input {
      float: right;
    }
  }
  #membership_summary_section {
    float: left;
    width: 40%;
    padding: 60px;
    .summary_header {
      font-size: 1.5em;
      font-weight: bold;
      color: rgb(87, 87, 87);
    }
    .membership_summary {
      width: 100%;
      padding: 20px 0 20px 30px;
      background: rgb(246, 246, 246);
      color: rgb(87, 87, 87);
      border-top: 1px solid rgb(193, 193, 193);
      border-bottom: 1px solid rgb(193, 193, 193);
    }
    .need_help {
      .need_help_title {
        font-size: 15px;
        font-weight: bold;
      }
      .need_help_content {
        img {
          float: left;
        }
        .need_help_info {
          float: left;
          width: 250px;
          padding-left: 30px;
          font-size: 13px;
        }
      }
    }
    .share_ciw {
      margin-top: 30px;
      .share_title {
        font-size: 14px;
        font-weight: bold;
      }
      .share_info {
        font-size: 14px;
      }
      .share_links {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        a {
          padding-right: 15px;
        }
      }
    }
    .volunteering {
      margin-top: 40px;
      .volunteering_title {
        font-size: 14px;
        font-weight: bold;
      }
      .volunteering_info {
        font-size: 14px;
      }
    }
  }
}

.group:before, .group:after { 
  content: '';
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}
