body{
  margin:0;
  background-color:#fff;
}
form.formtastic fieldset.inputs{
  padding:14px 0 0 0;
  margin-bottom:10px;
  clear:both;
}
body.admin{
  background-color:#fff;
  font-family:arial;
}

#header_container{
  border-bottom:2px solid #f1e500;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#header_container #header{ width:1170px; }
#header_container #header>#logo
{ background-image:url(admin/logo.png); }
#header_container #main_menu{
  position:absolute;  
  left:193px;
}


.tab-nav .welcome {color:#a7a7a7; font-size:14px; margin-bottom:15px;}

#header_container #account_links {top:-1px;}

#account_links .nav-user-logged > li img
{ vertical-align:middle;
  margin-right:10px; }
  
nav#global_nav{}
ul#global_nav, ul.nav {
  display:block;
  list-style:none;
  position:relative;
  margin:0;
  padding:0
}

ul#global_nav>li, .nav-user-logged > li{
  display:inline;
  float:left;
  margin:0;
  padding:0 11px;
  box-shadow:inset 0px 0px 0px #000;
  -moz-box-shadow:inset 0px 0px 0px #000;
  -webkit-box-shadow:inset 0px 0px 0px #000
}
ul#global_nav>li>a, .nav-user-logged > li > a {
  display:block;
  line-height:50px;
  font-size:13px !important;
  font-family:Arial;
  font-weight:800;
  color:#fff;
  text-decoration:none;
}
ul#global_nav>li:hover, .nav-user-logged > li:hover {
  box-shadow:inset 0px 3px 5px #000;
  -moz-box-shadow:inset 0px 3px 5px #000;
  -webkit-box-shadow:inset 0px 3px 5px #000;
  background-color:#1e1b1b;
}
ul#global_nav>li:hover>.dropdown, .nav-user-logged > li:hover .dropdown{display:block}
ul#global_nav>li:hover>a{color:#f3e72d !important;}

ul#global_nav li.nav_parent:hover>a, .nav-user-logged > li.nav_parent:hover>a {
  background-position:right -25px !important;
}
ul#global_nav>.nav_parent>a, .nav-user-logged > li.nav_parent > a {
  background:url(application/site_sprite.png) no-repeat;
  background-position:right 24px;
  padding-right:17px !important;
}
ul#global_nav>li#gn_search{
  width:110px;
  position:relative;
  padding:10px 0 0 20px;
  float:right;
}
ul#global_nav>li#gn_search #global_search_container{
  display:block;
  padding:3px 5px 5px;
  position:absolute;
  right:0px !important;
  width:106px;
  height:22px;
  background:#494445;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  box-shadow:inset 0px 2px 4px #262223;
  -moz-box-shadow:inset 0px 2px 4px #262223;
  -webkit-box-shadow:inset 0px 2px 4px #262223
}
ul#global_nav>li#gn_search input[type="search"],ul#global_nav>li#gn_search input[type="text"]{
  display:inline;
  width:77px;
  padding:0px 0 5px 5px;
  background-color:#494445 !important;border:none;font-size:12px;font-weight:300;color:#999;
  height:auto;
  line-height:normal
}
ul#global_nav>li#gn_search input[type="text"]:focus{
  outline:none;
  color:#f8f8f8
}
ul#global_nav>li#gn_search input[type="submit"]{float:right;border:none;padding:0;width:20px !important;height:20px !important;background:url(application/site_sprite.png) no-repeat;background-position:0px -117px;text-indent-color:-9999px}
ul#global_nav li#gn_search:hover{box-shadow:inset 0px 0px 0px #000;-moz-box-shadow:inset 0px 0px 0px #000;-webkit-box-shadow:inset 0px 0px 0px #000;background-color:transparent}
ul#global_nav .dropdown, .nav-user-logged .dropdown {display:none;position:absolute;background:#1e1b1b url(application/dropdown_gradient.png) top left repeat-x;width:200px;padding:30px;margin-left:-15px;z-index:3001 !important;border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px}

#header_container #account_links{
  position:absolute;
  right: 0;
  margin-right: -30px
}
#header_container #account_links .nav-user-logged
{ float:left;
  padding:0;
  margin:0;}

.nav-user-logged .dropdown
{ margin-left:-165px; }

.nav-user-logged .dropdown ul
{ margin:0;
  padding:0; }

ul#global_nav .dropdown ul li,.nav-user-logged .dropdown ul li
{ display:block;
  padding:5px 20px 5px 0; }

.nav-user-logged .dropdown ul li
{ text-align:right;
  padding-right:0; }

ul#global_nav .dropdown ul li a,.nav-user-logged .dropdown ul li a
{ font:400 13px arial !important;
  color:#f8f8f8 !important;
  text-decoration:none; }

ul#global_nav .dropdown ul li a:hover,.nav-user-logged .dropdown ul li a:hover
{ text-decoration:underline; }

ul#global_nav .dropdown ul.dd_column
{ width:auto;
  display:inline;
  list-style:none;
  clear:none;
  float:left;
  margin-right:20px; }

ul#global_nav .dropdown ul.featured
{ width:520px;
  margin:0; }

ul#global_nav .dropdown ul.featured li
{ display:inline;
  width:240px;
  float:left;
  margin-right:20px;
  padding:0; }

ul#global_nav .dropdown ul.featured li .dd_img_container
{ width:110px;
  height:60px;
  overflow:hidden;
  margin-right:10px;
  float:left;
  background:yellow;
  box-shadow:0 1px 3px #000;
  -moz-box-shadow:0 1px 3px #000;
  -webkit-box-shadow:0 1px 3px #000;
  border:2px solid #555; }

ul#global_nav .dropdown ul.featured li a
{ font-size:13px;
  font-weight:bold;
  color:#fff;
  display:block;
  margin-bottom:2px; }

ul#global_nav .dropdown ul.featured li span.small
{ font-size:12px;
  color:#ccc; }

ul#global_nav .dropdown ul.featured li:last-child,ul#global_nav .dropdown ul.featured li.last
{ margin-right:none; }

ul#global_nav .full_dropdown
{ width:794px;
  left:157px;
  margin-left:0; }

ul#global_nav .double_dropdown
{ width:440px; }

ul#global_nav .dropdown ul
{ list-style:none;
  padding:0;
  margin:0; }

ul.unstyle
{ list-style:none;
  margin:0;
  padding:0; }

.tab-nav
{ background:url(admin/bg.gif) top left repeat;
  padding-top:57px;
  overflow:hidden; }

.tab-nav .welcome
{ font-weight:600; }

.tab-nav ul li
{ float:left;
  margin-right:6px; }

.tab-nav ul li a
{ background-color:#f1e500;
  color:#000;
  height:44px;
  line-height:45px;
  font-size:15px;
  padding:0 20px;
  display:block;
  text-decoration:none; }

.tab-nav ul li.active a
{ background-color:#000;
  color:#fff;
  font-weight:bold; }

.tab-nav ul li a:hover
{ background-color:#000;
  color:#fff; }
  
#content_container,.w100-fix
{ width:1120px;
  margin:0 auto;
  clear:both; }

#content {box-shadow:none; -webkit-box-shadow:none; width:1060px; margin-top:0;}
#top_links {border:none; margin:0;}
#page
{ color:#323232; margin:0;}
#page h1.head-page-tab
{ border-bottom:none;
  height:auto;
  font-size:55px;
  line-height:normal;
  font-weight:normal;
  margin-bottom:10px; }

#page h1.head-page-tab small
{ display:block;
  font-size:15px;
  font-weight:700;
  text-transform:uppercase; }

#page .desc-page
{ line-height:22px;
  font-size:14px; }
.left-column
{ float:left;
  width:715px; }
.box-upload-file
{ background-color:#f8f8f8;
  border-top:#e6e6e6 1px solid;
  border-bottom:#e6e6e6 1px solid;
  padding:23px 35px;
  width:90%; }

.lock-title
{ background:url(admin/lock.png) top left no-repeat;
  padding:6px 0 2px 50px;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:15px; }

.box-upload-file .row li
{ margin-bottom:20px;
  overflow:hidden; }

.box-upload-file .row li *
{ float:left; }

.box-upload-file .row li .numb-step
{ height:30px;
  width:25px;
  text-align:center;
  margin-right:25px;
  font-size:30px;
  line-height:46px; }

.box-upload-file .row li label
{ width:90px;
  margin:0;
  padding:0;
  line-height:34px; }

.box-upload-file .row li p.inline-hints
{ padding:12px 0 0 50px !important;
  font-size:12px !important; }

#sponsor_eps_logo_input div.uploader,#sponsor_logo_input div.uploader,#sponsor_sponsor_agreement_input div.uploader
{ background-color:transparent;
  border:none;
  background:url(admin/upload-img.png) top left no-repeat;
  height:34px; }

#sponsor_logo_input div.uploader
{ background-position:bottom left; }

.pointer{
  cursor: pointer !important;
}

.sponsor input.form-submit{
  background:none;
  border-radius:0;
  border:#ebebeb 1px solid;
  height:50px;
  padding:0 25px;
  color: #fff;
  font-size:19px;
  line-height:50px;
  font-weight:normal;
  margin-left:534px; 
  background-color:#1dafef;;
}
.sponsor input.disabled{
  background-color:#f1f1f1;
  disabled: true;
  color:#878787;
}

.right-column
{ float:right;
  width:290px;
  margin-top:65px; }

.right-column .right-inner
{ border:#e9e9e9 1px solid;
  background-color:#f2f2f2;
  padding:10px 22px;
  float:left;
  width:244px;
  font-size:14px; }

.right-inner .row .title
{ font-size:14px;
  margin:0 0 16px; }

.list-sponsor
{ clear:both; }

.list-sponsor .title
{ margin-bottom:15px; }

.list-sponsor .span
{ float:none;
  display:block;
  overflow:hidden;
  padding:15px 0;
  border-top:#dcdcdc 1px solid; }

.list-sponsor .span span
{ float:left; }

.list-sponsor .span .del
{ float:right;
  background:url(admin/icon-delete.png) top left no-repeat;
  width:10px;
  height:10px;
  text-indent:-9999px;
  margin-top:3px; }

.select-contact
{ margin-bottom:15px; }

.select-contact div.selector
{ width:230px; }

.select-contact div.selector span
{ width:201px; }

.select-contact div.selector select
{ width:244px; }

.select-contact label
{ font-weight:normal;
  padding:0;
  margin:0 0 9px; }

a.blue-btn,input.blue-btn,input.blue-btn:hover
{ background:none;
  background-color:#1dafef;
  border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  color:#fff;
  text-decoration:none;
  height:39px;
  font-weight:bold;
  line-height:39px;
  font-size:14px; }

input[type="text"]
{ height:31px;
  background-color:#fff;
  border:#c4c4c4 1px solid;
  border-radius:4px;
  -webkit-border-radius:4px;
  font-size:13px;
  line-height:31px;
  color:#000;
  padding:0 10px; }

.right-column .right-inner a.blue-btn,.right-column .right-inner input.blue-btn
{ width:244px;
  text-align:center; }

.right-column .right-inner input[type="text"]
{ width:224px; }

.right-column .right-inner .hint
{ text-align:center;
  padding:15px 0;
  font-size:13px;
  line-height:22px; }
#marketing img
{ margin:0; }


.ticket-wrap
{ width:950px;
  overflow:hidden;
  clear:both;
  padding-top:35px; }

.ticket-wrap > .row
{ width:120%; }

.ticket_item
{ width:250px;
  text-align:center;
  float:left;
  color:#7d7860;
  border-top:#e6e4e5 1px solid;
  padding:50px 100px 0 0;
  height:285px; margin:0}

.ticket_item .box
{ padding:24px 12px 17px 93px;
  background:url(admin/bg-tickets.png) top left no-repeat;
  text-align:center;
  min-height:166px;
  margin-bottom:10px; border:none; min-width:145px;}

.ticket_item .box .title
{ height:40px;
  color:#7d7860;
  font-size:15px;
  font-weight:bold;
  text-transform:uppercase;
  margin:0;
  float:none; width:auto}
.ticket_item .box .value
{ clear:both;
  height:95px;
  font-size:70px;
  font-weight:bold;
  line-height:60px; float:none; width:auto; padding:0}
.ticket_item .box .bottom
{ font-weight:bold;
  font-size:12px;
  text-transform:uppercase;
  float:none; width:auto }
.ticket_item .link
{ font-size:13px;
  text-transform:uppercase;
  color:#000; float:none; width:auto; margin:0; clear:both }

#marketing
{ width:970px;
  overflow:hidden;
  border-top:#e3e3e3 1px solid;
  padding-top:40px;
  margin-top:21px; }

#marketing ul
{ list-style:none;
  margin:0;
  padding:0;
  width:120%; }

#marketing ul li
{ float:left;
  width:271px;
  margin:0 78px 35px 0;
  text-align:center; }

#marketing ul li img
{ border:#898989 3px solid;
  margin-bottom:10px; }

#marketing ul li img,#marketing ul li div a
{ display:block; }

#marketing ul li h3
{ margin:0 0 8px; }

#marketing ul li h3 a
{ font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#000; }

#marketing ul li p,#marketing ul li p a
{ color:#c7c7c7;
  font-size:14px;
  text-decoration:none;
  margin:0; }

.welcome-send-tick
{ font-size:14px;
  padding-top:33px; }

.welcome-send-tick .ticket_item
{ padding:0;
  margin-right:40px;
  border-top:none;
  height:auto; }

.welcome-send-tick h3
{ font-size:14px;
  font-weight:bold;
  margin:20px 0 6px; }

.welcome-send-tick .over-hid
{ overflow:hidden;
  line-height:22px; }

.welcome-send-tick .over-hid p
{ margin:0 0 15px !important; }

.welcome-send-tick .over-hid .blue-btn
{ padding:0 23px; }

.share-social
{ padding:53px 35px; }

.share-social .text-share
{ float:left;
  width:267px;
  padding-right:30px;
  line-height:22px;
  margin-top:-13px; }

.share-social .share-icon
{ overflow:hidden; }

.share-social .share-icon a
{ background:url(admin/social.png) top left no-repeat;
  float:left;
  width:60px;
  height:60px;
  margin-left:25px;
  text-indent:-9999px; }

.share-social .share-icon a.in
{ background-position:-173px 0; }

.share-social .share-icon a.tw
{ background-position:-86px 0; }

.share-social .share-icon a.gp
{ background-position:top right; }

.contact-box
{ padding-top:15px; }

.contact-item
{ width:300px;
  float:left;
  margin-right:10px;
  font-size:13px;
  line-height:20px; }

.contact-item strong
{ font-size:14px; }

.contact-item img
{ border:#ececec 4px solid;
  float:left;
  margin-right:21px; }

.interest
{ font-size:14px;
  line-height:22px;
  color:#818181;
  clear:both;
  padding-top:40px; }

.interest strong
{ color:#000; }

.interest a
{ color:#020dff;
  text-decoration:underline; }
.uploaded_file{
  margin-left: 20px;
  margin-top: 10px;
}
