%section.member_type_join.container-fluid
  %div.join_content
    %p
      Join our CIW Member Program today and connect with our growing community of leaders, innovators, and game-changers-all while reserving your Chicago Ideas Week priority tickets before the public.
    %p
      %strong
        CIW memberships include:
      Priority Ticketing, All Access Menlo Passes good for all Talks and Megatalks*, invitations to the exclusive Edison Talks*, attendance at CIW private parties*, and more. Join today!
      %i
        *At selected levels
