%section.container-fluid.main_content
  %h1.main_title
    2013 Member Levels
  %p.main_subtitle
    Enjoy Unparalleled Access, Advanced Tickets, &amp; Invitations to Insider Parties!
  .member_types.group
    .member_type_detailed_container
      - member_types.each do |member_type|
        = render 'member_types/member_type_detailed', :member_type => member_type
    .member_types_summaries
      %p.join_membership
        Join our Membership Programs
      - member_types.each do |member_type|
        = render 'member_types/member_type_summary', :member_type => member_type


