%section.member_type_questions.container-fluid
  %p.organization
    The innovation Foundation (d/b/a Chicago Ideas Week) is a 501c3 organization.
  %p.questions
    Questions? Call us at 312-999-5809 or email us at
    = mail_to 'membership@chicagoideas.com'
