.row
  .title Follow our social channels for CIW updates!
.row
  .span.btn= link_to "Follow us on Twitter", "#"
.row
  .span.btn= link_to "Join us on Facebook", "#"
.row
  .span.btn= link_to "Check out our Blog", "#"
