.left-column
  =render partial: "left"
.right-column
  =render partial: "right"
.row
  .title CIW Marketing Materials
  .row Please use these resources when sharing your involvement with
CIW, both inside and outside your organization!
#marketing.row
  - 8.times do
    = image_tag "logo.png", size: "160x160"
.row
  .row.title Interested in Volunteering?
  .row.span If anyone at your organization may be interested in volunteering at CIW, please contact
